server {
    server_name ${NGINX_SERVER_NAME};
    listen ${NGINX_PORT};
    server_tokens off;
    root /usr/share/nginx/html;

    add_header X-Content-Type-Options "nosniff" always;
    add_header X-XSS-Protection "1; mode=block" always;

    index index.html;

    location /viewer-stone {
        root /usr/share/nginx/html/public;
    }
}
