server {
    listen       80;
    server_tokens off;
    server_name  _;
    root /usr/share/nginx/html;

    add_header X-Content-Type-Options "nosniff" always;
    add_header X-XSS-Protection "1; mode=block" always;

    index index.html;

    location /viewer-stone {
        root /usr/share/nginx/html/public;
    }

    location /viewer-ohif {
        root /usr/share/nginx/html/public;
        try_files $uri /public/viewer-ohif/index.html;
    }
}
